*{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');

:root{
    --ciano: #00b7cb;
    --ciano-escuro: #00383f;
    --black: #001417;
    --white: #F7F8F3;
}

.homeSection{
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}

.fixed-nav{
    display: block;
    position: fixed;
    background-color: var(--black);
}

.title{
    font-family: 'Poppins', sans-serif;
}